<ion-view id="guide">

    <ion-slide-box on-slide-changed="onSlideChanged()">
        <ion-slide>
            <img src="images/guide/yingdao_01.jpg">
        </ion-slide>
        <ion-slide>
            <img src="images/guide/yingdao_02.jpg">
        </ion-slide>
        <ion-slide class="btn_bg">
            <img src="images/guide/yingdao_02.jpg">
            <button  class="btn button button-clear" ng-if="config.enter" ui-sref="home">立即体验</button>
        </ion-slide>
    </ion-slide-box>
</ion-view>